*{
    border: 0px;
    padding: 0px;

}


body {
    font-family: Arial, sans-serif;
    background-color: #a1a3a1;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #0f0e0e;
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #a1a3a1;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
    box-shadow: 7px 12px 19px 4px rgba(10,9,10,1);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus {
    outline: none;
    border-color: #007bff;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}